.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactText {
  display: flex;
  gap: 10px;
  font-size: 1.2em;
  color: #677f96;
}
.contactName {
  font-style: italic;
  font-weight: bold;
}
.contactDeleteBtn {
  color: #677f96;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 4px #4f9db4;
  font-size: 1.1em;
  max-width: fit-content;
  transition: all 0.15s ease;
}
.contactDeleteBtn:is(:hover, :focus) {
  outline: none;
  transform: scale(1.1);
}
