.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputGroup {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formInputLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.2em;
  color: #677f96;
}
.contactInput,
.addContactBtn {
  color: #677f96;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 4px #4f9db4;
  transition: all 0.15s ease;
}
.contactInput::placeholder {
  font-size: 1.1em;
  color: #677f96;
}
.contactInput:is(:focus, :hover),
.addContactBtn:is(:focus, :hover) {
  outline: none;
  transform: scale(1.1);
  color: #677f96;
}
.addContactBtn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1.2em;
  max-width: fit-content;
}
